/* SAP Fiori Icons */
@font-face {
	font-family: 'SAP Fiori Icons';
	src:
		url('https://bart-van-der-hulst.github.io/sac-fiori-font/SAP-icons.woff2') format('woff2'),
		url('https://bart-van-der-hulst.github.io/sac-fiori-font/SAP-icons.woff') format('woff'),
		url('https://bart-van-der-hulst.github.io/sac-fiori-font/SAP-icons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
